@model Dosermana.Domain.Entities.Product

@{
    ViewBag.Title = "Админ панель: редактирование товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование «@Model.Name @Model.Color»</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ProductId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "ProductId":
                    case "ImageData":
                    case "ImageMimeType":
                        // Ничего не делать
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>

                            @Html.TextBox(property.PropertyName, null,
                                new { @class = "form-control" })

                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                        break;
                }
            }

        <div class="form-group">
            <div style="position:relative;">
                <label>Картинка</label>
                <a class='btn' href='javascript:;'>
                    Выберите файл...
                    <input type="file" name="Image" size="40"
                           style="position:absolute;z-index:2;top:0;
                                        left:0;filter: alpha(opacity=0); opacity:0;
                                        background-color:transparent;color:transparent;"
                                        accept="image/*"
                           @*onchange='$("#upload-file-info").html($(this).val());'*@ onchange='previewImage(event);'>
                </a>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
            @*@if (Model.ImageData == null)
            {
                <div class="form-control-static">Нет картинки</div>
            }
            else
            {
                <img class="img-thumbnail" width="150" height="150"
                        src="@Url.Action("GetImage", "Product",
                            new { Model.ProductId })" />
            }*@
            <div id="preview-container">
                @if (Model.ImageData != null)
                {
                    <img class="img-thumbnail" width="150" height="150"
                            src="@Url.Action("GetImage", "Product",
                        new { Model.ProductId })" />
                }
                else
                {
                    <div class="form-control-static">Нет картинки</div>
                }
            </div>
        </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>


<script>
    function previewImage(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var previewContainer = document.getElementById('preview-container');
                previewContainer.innerHTML = '<img class="img-thumbnail" width="150" height="150" src="' + e.target.result + '" />';
                $("#upload-file-info").html(input.files[0].name);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>