@*@model Dosermana.WebUI.Models.EditUserViewModel


    @{
        ViewBag.Title = "Админ панель: редактирование пользователя";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <div class="panel">
        <div class="panel-heading">
            <h3>Редактирование пользователя @Model.Name</h3>
        </div>

        @using (Html.BeginForm())
        {
            <div class="panel-body">
                @Html.HiddenFor(m => m.Id)
                @foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    if (property.PropertyName != "Id")
                    {
                            <div class="form-group">
                                <label>@(property.DisplayName ?? property.PropertyName)</label>
                                @Html.TextBox(property.PropertyName, null,
                                    new { @class = "form-control" })
                            </div>

                    }
                }
            </div>
            <div class="panel-footer">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                @Html.ActionLink("Отменить изменения и вернуться к списку", "Users", null, new
                {
                    @class = "btn btn-default"
                })
            </div>
        }
    </div>*@


@model Dosermana.WebUI.Models.EditUserViewModel

@{ ViewBag.Title = "Админ панель: редактирование пользователя";
                Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование пользователя @Model.Name</h3>
    </div>

    @using (Html.BeginForm())
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Id)
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control" } })

            <h4>Коэффициенты цены по категориям:</h4>
            @foreach (var entry in Model.Price_coefficients)
            {
                <div class="form-group">
                    <label>@entry.Key</label>
                    @Html.TextBoxFor(model => model.Price_coefficients[entry.Key], new { @class = "form-control" })
                </div>
            }
        </div>

        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Users", null, new { @class = "btn btn-default" })
        </div>
    }
</div>