@model IEnumerable<Dosermana.Domain.Entities.Order>

@{
    ViewBag.Title = "Orders";
}
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>


<h2>Все заказы</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>Продукт</th>
            <th>Кол-во</th>
            <th class="text-right">Общая стоимость</th>
            <th class="text-right">Дата заказа</th>
            <th>Адрес</th>
            <th class="text-right">Статус заказа</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left">@item.UserEmail</td>
                <td class="text-left">@item.ProductId</td>
                <td class="text-center">@item.Quantity</td>
                <td class="text-right">@item.Summary.ToString("0.00 руб")</td>
                <td class="text-right">@item.OrderDate</td>
                <td class="text-right">@item.Address</td>
                <td class="text-right">@item.Status</td>
            </tr>
        }
    </tbody>
</table>