@*@model IEnumerable<Dosermana.WebUI.Models.ApplicationUser>*@
@model Tuple<List<Dosermana.Domain.Entities.ProductCategory>, List<Dosermana.WebUI.Models.EditUserViewModel>>

@using Microsoft.AspNet.Identity



@{
    ViewBag.Title = "Админ панель: список пользователей";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    var controller = ViewContext.Controller as Dosermana.WebUI.Controllers.AdminController;
    var userManager = controller.UserManager;
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список пользователей</h3>
    </div>
    z
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">Имя пользователя</th>
                <th class="text-center">Адрес</th>
                @foreach (var category in Model.Item1)
                {
                    <th class="text-center">@category.CategoryName</th>
                }
                <th class="text-center">Администратор?</th>
                <th class="text-center">Изменить</th>
            </tr>
            @foreach (var user in Model.Item2)
            {
                <tr>
                    <td class="text-center">@user.Name</td>
                    <td class="text-center">@user.Address</td>
                    @for (int i = 0; i < Model.Item1.Count; i++)
                    {

                        try
                        {
                            var coef = @user.CategoryCoefficients[i].Coefficient;
                            <td class="text-center">@user.CategoryCoefficients[i].Coefficient</td>
                        }

                        catch
                        {
                            <td class="text-center">н/з(1)</td>
                        }
                    }

                    <td class="text-center">@(userManager.IsInRole(user.Id, "admin") ? "Yes" : "No")</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-default">
                            @Html.ActionLink("Изменить", "EditUser", new { userID = user.Id })
                        </button>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>