@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link href="~/Content/Layout.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>@ViewBag.Title</title>
</head>
<body>

    <header>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">

                <span></span>

            </label>
            <div class="menu__box__top">

            </div>
            <ul class="menu__box">


                @if (User.Identity.IsAuthenticated)
                {
                    var userEmail = User.Identity.GetUserName();
                    string userRole = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
                    <li>
                        <label class="multilevel_ul menu__item" for="item-1">
                            Аккаунт
                            <svg width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M8 5 L20 12 L8 19" />
                            </svg>
                        </label>
                        <input type="checkbox" id="item-1" name="item-1" class="m-menu__checkbox">
                        <div class="m-menu">
                            <div class="m-menu__header">
                                <label class="m-menu__toggle" for="item-1">
                                    <svg width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1" stroke-linecap="butt" stroke-linejoin="arcs">
                                        <path d="M19 12H6M12 5l-7 7 7 7" />
                                    </svg>
                                </label>
                                <span>@userEmail</span>
                            </div>
                            <ul>
                                <li><label class="menu__item">@Html.ActionLink("Заказы", "Orders", "Cart")</label></li>
                                <li><label class="menu__item">@Html.ActionLink("Корзина", "Index", "Cart")</label></li>
                                <li><label class="menu__item">@Html.ActionLink("Изменить адрес", "Edit", "Account")</label></li>
                                <li><label class="menu__item">@Html.ActionLink("Удалить аккаунт", "Delete", "Account")</label></li>
                                <li><hr style="width: 100%; background-color: #999999; height: 1px;"></li>
                                <li><label class="menu__item">@Html.ActionLink("Выйти", "Logout", "Account")</label></li>
                        </div>
                    </li>


                    if (userRole == "admin")
                    {
                        <li>
                            <label class="multilevel_ul menu__item" for="item-2">
                                Админ-панель
                                <svg width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M8 5 L20 12 L8 19" />
                                </svg>
                            </label>
                            <input type="checkbox" id="item-2" name="item-2" class="m-menu__checkbox">
                            <div class="m-menu">
                                <div class="m-menu__header">
                                    <label class="m-menu__toggle" for="item-2">
                                        <svg width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1" stroke-linecap="butt" stroke-linejoin="arcs">
                                            <path d="M19 12H6M12 5l-7 7 7 7" />
                                        </svg>
                                    </label>
                                    <span>Админ-панель</span>
                                </div>
                                <ul>
                                    <li><label class="menu__item">@Html.ActionLink("Админ-товары", "Index", "Admin")</label></li>
                                    <li><label class="menu__item">@Html.ActionLink("Админ-заказы", "Orders", "Admin")</label></li>
                                    <li><label class="menu__item">@Html.ActionLink("Админ-пользователи", "Users", "Admin")</label></li>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li><a class="menu__item" href="@Url.Action("Register", "Account")">Зарегистрироваться</a></li>
                    <li><a class="menu__item" href="@Url.Action("Login", "Account")">Войти</a></li>
                }



                <li><hr style="width: 100%; background-color: #999999; height: 1px;"></li>
                <li><a class="menu__item" href="#">О нас</a></li>
                <li><a class="menu__item" href="/">Каталог</a></li>
                <li>@Html.ActionLink("Новости", "List", "News", null, new { @class = "menu__item" })</li>
                @*<li><a class="menu__item" href="#">Новости</a></li>*@
                <li><a class="menu__item" href="#">Где купить</a></li>
                <li><a class="menu__item" href="#">Доствка</a></li>
                <li><hr style="width: 100%; background-color: #999999; height: 1px;"></li>
                <li class="menu__item__info"><img src="~/Content/images/clock.png" alt="Время работы" /><span class="menu__item menu__item__info">Режим работы:<br /> пн-пт 8:00-18:00</span></li>
                <li class="menu__item__info"><img src="~/Content/images/marker.png" alt="Адрес" /><span class="menu__item menu__item__info">ул. Краснопартизанская 53<br />230011 г. Гродно<br />Республика Беларусь</span></li>
                <li class="menu__item__info"><img src="~/Content/images/phone.png" alt="Телефон" /><span class="menu__item menu__item__info">+375 29 000 00 01<br /> +375 29 000 00 02</span></li>
                <li class="menu__item__info" style="padding: 0">
                    <div class="links" style="justify-content: space-between; width: 50%; margin: auto;">
                        <a href="https://google.com">
                            <img src="~/Content/images/viber.png" alt="Вайбер" />
                        </a>
                        <a href="https://google.com">
                            <img src="~/Content/images/whatsapp.png" alt="Ватсап" />
                        </a>
                        <a href="https://google.com">
                            <img src="~/Content/images/telegram.png" alt="Телеграм" />
                        </a>
                    </div>
                </li>


            </ul>
        </div>

        <div class="header-info">
            <div class="header-logo">
                <img src="~/Content/images/logo.png" alt="Alternate Text" />
            </div>
            <div class="header-block duty">
                <img src="~/Content/images/clock.png" alt="Время работы" />
                <div class="header-block-info">
                    <span>РЕЖИМ РАБОТЫ:</span>
                    <span>Пн-Пт 8:00-18:00</span>
                </div>
            </div>
            <div class="header-block address">
                <img src="~/Content/images/marker.png" alt="Адрес" />
                <div class="header-block-info">
                    <span>ул. Краснопартизанская 53</span>
                    <span>230011 г. Гродно</span>
                    <span>Республика Беларусь</span>
                </div>

            </div>
            <div class="header-block phone-links">
                <div class="header-block phone">
                    <img src="~/Content/images/phone.png" alt="Телефон" />
                    <div class="header-block-info">
                        <span>+375 29 000 00 01</span>
                        <span>+375 29 000 00 02</span>
                    </div>
                </div>
                <div class="links">
                    <a href="https://google.com">
                        <img src="~/Content/images/viber.png" alt="Вайбер" />
                    </a>
                    <a href="https://google.com">
                        <img src="~/Content/images/whatsapp.png" alt="Ватсап" />
                    </a>
                    <a href="https://google.com">
                        <img src="~/Content/images/telegram.png" alt="Телеграм" />
                    </a>
                </div>
            </div>


            <div class="buttons">

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="button button-account">
                        <input id="account-menu-toggle" type="checkbox" style="display: none;" />
                        <label for="account-menu-toggle" class="header-button" style="color: white; font-weight: normal;">
                            <img src="~/Content/images/enter.png" alt="Вход" />
                            <span>Аккаунт</span>
                        </label>
                        <ul class="account-menu">

                            <li style="border-top: 0;"><label class="menu__item">@Html.ActionLink("Заказы", "Orders", "Cart")</label></li>
                            <li><label class="menu__item">@Html.ActionLink("Корзина", "Index", "Cart")</label></li>
                            <li><label class="menu__item">@Html.ActionLink("Изменить адрес", "Edit", "Account")</label></li>
                            <li><label class="menu__item">@Html.ActionLink("Удалить аккаунт", "Delete", "Account")</label></li>
                            @{
                                var userEmail = User.Identity.GetUserName();
                                string userRole = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;

                                if (userRole == "admin")
                                {
                                    <li><label class="menu__item">@Html.ActionLink("Админ-товары", "Index", "Admin")</label></li>
                                    <li><label class="menu__item">@Html.ActionLink("Админ-заказы", "Orders", "Admin")</label></li>
                                    <li><label class="menu__item">@Html.ActionLink("Админ-пользоват", "Users", "Admin")</label></li>
                                }
                            }
                            <li><label class="menu__item">@Html.ActionLink("Выйти", "Logout", "Account")</label></li>
                        </ul>
                    </div>
                    <div class="button button-cart">
                        <a href="@Url.Action("Index", "Cart")" class="header-button">
                            <span>Корзина</span>
                            <img src="~/Content/images/shopping-cart.png" alt="Корзина" />
                        </a>
                    </div>
                }
                else
                {
                    <div class="button button-account">
                        @*<a href="@Url.Action("Login", "Account")" class="header-button">
                                <img src="~/Content/images/enter.png" alt="Вход" />
                                <span>Аккаунт</span>
                            </a>*@


                        <input id="account-menu-toggle" type="checkbox" style="display: none;" />
                        <label for="account-menu-toggle" class="header-button" style="color: white; font-weight: normal;">
                            <img src="~/Content/images/enter.png" alt="Вход" />
                            <span>Аккаунт</span>
                        </label>
                        <ul class="account-menu">
                            <li style="border-top: 0;"><a class="menu__item" href="@Url.Action("Register", "Account")">Зарегистрироваться</a></li>
                            <li><a class="menu__item" href="@Url.Action("Login", "Account")">Войти</a></li>
                        </ul>
                    </div>
                }

            </div>

        </div>
        <nav>
            <ul class="menu">
                <li><a href="#">О НАС</a></li>
                <li><a href="/">КАТАЛОГ</a></li>
                <li>@Html.ActionLink("НОВОСТИ", "List", "News")</li>
                @*<li><a href="#">НОВОСТИ</a></li>*@
                <li><a href="#">ГДЕ КУПИТЬ</a></li>
                <li><a href="#">ДОСТАВКА</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Slider main container -->
        <div class="swiper swiper-main" rewind="true">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="block">
                        <div class="sub-block">
                            <div class="sub-content">
                                <h1>Фасады</h1>
                                <div class="text">
                                    Мебельные фасады для кухонь, гостиных, гардеробов и другой корпусной мебели
                                </div>
                                <button><a href="/Production?type=0" style="color: white">Подробнее</a></button>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/Content/images/fronts.jpg" alt="" />
                            <div class="sub-block">
                                <h1>Фасады</h1>
                                <div class="text">
                                    Мебельные фасады для кухонь, гостиных,<br> гардеробов и другой корпусной мебели
                                </div>
                                <button><a href="/Production?type=0" style="color: white">Подробнее</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="block">
                        <div class="sub-block">
                            <div class="sub-content">
                                <h1>Интерьерные декоры</h1>
                                <div class="text">
                                    Декоративные рейки в интерьере - современный прием для отделки стен и зонирования
                                </div>
                                <button><a href="/Production?type=5" style="color: white">Подробнее</a></button>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/Content/images/decors.jpg" alt="" />
                            <div class="sub-block">
                                <h1>Интерьерные декоры</h1>
                                <div class="text">
                                    Декоративные рейки в интерьере -<br> современный прием для отделки стен и зонирования
                                </div>
                                <button><a href="/Production?type=5" style="color: white">Подробнее</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="block">
                        <div class="sub-block">
                            <div class="sub-content">
                                <h1>Декор и погонаж</h1>
                                <div class="text">
                                    Декоротивные элементы придают кухне особенный индивидуальный вид.
                                </div>
                                <button><a href="/Production?type=1" style="color: white">Подробнее</a></button>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/Content/images/pogon.jpg" alt="" />
                            <div class="sub-block">
                                <h1>Декор и погонаж</h1>
                                <div class="text">
                                    Декоротивные элементы придают кухне <br> особенный индивидуальный вид.
                                </div>
                                <button><a href="/Production?type=1" style="color: white">Подробнее</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="block">
                        <div class="sub-block">
                            <div class="sub-content">
                                <h1>Мебель</h1>
                                <div class="text">
                                    В нашем каталоге мебели можно выбрать как классические модели гостиных и стенок, так и ультра современные комплекты.
                                </div>
                                <button><a href="/Production?type=2" style="color: white">Подробнее</a></button>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/Content/images/furniture.png" alt="" />
                            <div class="sub-block">
                                <h1>Мебель</h1>
                                <div class="text">
                                    В нашем каталоге мебели можно выбрать как классические модели <br> гостиных и стенок, так и ультра современные комплекты.
                                </div>
                                <button><a href="/Production?type=2" style="color: white">Подробнее</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-scrollbar"></div>
        </div>
    </main>

    <script src="https://kit.fontawesome.com/76d835b4d7.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/Content/js/swiper.js"></script>






    <div class="wrapper">
        @RenderBody()
    </div>
    

    @*<div class="body">
        <div id="categories" class="left-nav">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>*@




    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>