@model Dosermana.Domain.Entities.Product


<div class="well">
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75" height="75"
                 src="@Url.Action("GetImage", "Product",
                    new { Model.ProductId })" />
        </div>
    }

    <h3>
        <strong>@Model.Name @Model.Color</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("0.00 руб")</span>
    </h3>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.ProductId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)


            <input type="number" name="quantity" class="form-control" min="1" value="0" />


            <input type="submit" class="btn btn-success" value="Добавить в корзину" />
        </div>
    }
    <span class="lead">Остаток на складе в Гродно: @Model.Quantity_Grodno</span>
    <span class="lead">Остаток на складе в Москве: @Model.Quantity_Moscow</span>
</div>