@model Dosermana.Domain.Entities.News

@{
    ViewBag.Title = "Админ панель: редактирование новости";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование «@Model.NewsTitle»</h3>
    </div>

    @using (Html.BeginForm("Edit", "News",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.NewsId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "NewsId":
                    case "FileName":
                        //case "Date":
                        // Ничего не делать
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>

                            @Html.TextBox(property.PropertyName, null,
                                new { @class = "form-control" })

                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                        break;
                }
            }

            <div class="form-group">
                <div style="position:relative;">
                    <label>Картинка</label>
                    <a class='btn' href='javascript:;'>
                        Выберите файл...
                        <input type="file" name="Image" size="40"
                               style="position:absolute;z-index:2;top:0;
                                        left:0;filter: alpha(opacity=0); opacity:0;
                                        background-color:transparent;color:transparent;"
                               accept="image/*"
                               onchange='$("#upload-file-info").html($(this).val());' onchange='previewImage(event);'>
                    </a>
                    <span class='label label-info' id="upload-file-info"></span>
                    @if (Model.FileName != null)
                    {
                        @Html.ActionLink("Удалить изображение", "ClearImage", "News", new { NewsId = Model.NewsId }, null)
                    }
                </div>
                @*@if (Model.ImageData == null)
                    {
                        <div class="form-control-static">Нет картинки</div>
                    }
                    else
                    {
                        <img class="img-thumbnail" width="150" height="150"
                                src="@Url.Action("GetImage", "Product",
                                    new { Model.ProductId })" />
                    }*@
                <div id="preview-container">
                    @if (Model.FileName != null)
                    {
                        <img class="img-thumbnail" width="150" height="150"
                             src="@Url.Action("GetImage", "Product",
                        new { Model.NewsId })" />
                    }
                    else
                    {
                        <div class="form-control-static">Нет картинки</div>
                    }
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "List", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>

<script>
    function previewImage(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var previewContainer = document.getElementById('preview-container');
                previewContainer.innerHTML = '<img class="img-thumbnail" width="150" height="150" src="' + e.target.result + '" />';
                $("#upload-file-info").html(input.files[0].name);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>






<script>
    $(document).ready(function () {
        $('#selectPictureButton').click(function () {
            // Open the picture selection dialog or navigate to a separate page for picture selection
            // You can use jQuery UI's dialog for the modal dialog:
            $('<div>').dialog({
                title: 'Select Picture',
                modal: true,
                width: 500,
                height: 400,
                open: function () {
                    // Perform any necessary initialization or setup for the picture selection dialog
                },
                close: function () {
                    // Clean up after the dialog is closed, if needed
                },
                buttons: {
                    Save: function () {
                        // Get the selected picture and save it
                        var selectedPicture = $('#selectedPicture').val();

                        // Update the preview image
                        $('#previewImage').attr('src', selectedPicture);

                        // Save the picture to the project folder and record the picture name in the database
                        // You will need to implement the server-side logic to handle this, such as an AJAX request to a controller action

                        // Close the dialog
                        $(this).dialog('close');
                    },
                    Cancel: function () {
                        // Close the dialog without saving
                        $(this).dialog('close');
                    }
                }
            });
        });
    });
</script>