@*@model Dosermana.Domain.Entities.ShippingDetails*@
@*@model Dosermana.WebUI.Models.ApplicationUser*@
@model Dosermana.Domain.Entities.CurrentUser

@{
    ViewBag.Title = "Форма заказа";
}

<h2>Оформить заказ сейчас</h2>
<p>Пожалуйста проверьте правильность ваших контактных данныех</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Данные</h3>
    <div class="form-group">
        <label>Ваше имя:</label>
        @*@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })*@
        @*@Html.TextBoxFor(x => x.userDetails.UserEmail, new { @class = "form-control" })*@
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Адрес доставки:</label>
        @*@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })*@
        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
    </div>
    @*foreach (var property in ViewData.ModelMetadata.Properties)
        {
            if (property.PropertyName != "Name")
            {
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                </div>
            }
        }*@
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Price_coefficient)


    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Обработать заказ" />
    </div>
}
