@model Dosermana.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Корзина";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>


<h2>Ваша корзина</h2>
<table id="cartTable" class="table" style="font-size: 15px;">
    <thead>
        <tr>
            <th>Продукт</th>
            <th class="text-center">Кол-во</th>
            <th class="text-center">Цена</th>
            <th class="text-right">Общая цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-left">@line.Product.Name @line.Product.Color</td>
            <td class="text-center">@line.Quantity</td>
            @{ 
                //decimal price = line.Product.Price * ViewBag.Price_coefficient;
                decimal price = line.Product.Price * ViewBag.Coefficients[line.Product.Category];
            }
            <td class="text-center">@price.ToString("0.00 руб")</td>
            <td class="text-right">
                @((line.Quantity * price).ToString("0.00 руб"))
            </td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    @Html.Hidden("ProductId", line.Product.ProductId)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                }
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"><b>Итого:</b></td>
            <td class="text-right">
                <b>
                    @{
                        decimal summ = Model.Cart.ComputeTotalValue(ViewBag.Coefficients);
                    }
                    @summ.ToString("0.00 руб")
                </b>
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    @if (Model.ReturnUrl != null)
    {
        <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
    }
    else
    {
        <a class="btn btn-primary" href="/">Продолжить покупки</a>
    }
    @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
</div>
