@model IEnumerable<Dosermana.Domain.Entities.Order>

@{
    ViewBag.Title = "Orders";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>


<h2>Ваши заказы</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Продукт</th>
            <th>Кол-во</th>
            <th class="text-right">Цена за единицу товара</th>
            <th class="text-right">Общая цена</th>
            <th class="text-right">Статус заказа</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            decimal totalCost = 0;
        }
        @foreach (var line in Model)
        {
            <tr>
                <td class="text-left">@line.Product.Name @line.Product.Color</td>
                <td class="text-center">@line.Quantity</td>
                @{ 
                    decimal prod_price = line.Product.Price * ViewBag.Price_coefficient;
                }
                <td class="text-right">@prod_price.ToString("0.00 руб")</td>
                <td class="text-right">@line.Summary.ToString("0.00 руб")</td>
                <td class="text-right">@line.Status</td>
            </tr>

            totalCost += @line.Summary;
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @totalCost.ToString("0.00 руб")
            </td>
        </tr>
    </tfoot>
</table>

